*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: TiW;
    src: url("../font-family/HYZhuZiTongNianTiW.ttf");
}
@font-face {
    font-family: star;
    src: url("../font-family/汉仪星球体.ttf");
}
@font-face {
    font-family: Tuan;
    src: url("../font-family/HYNuoMiTuanW.ttf");
}

#index-one{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("../img/bck.jpg");
    background-repeat: repeat;
}

.title-name > div {
    background-color:transparent;
    color: #6666CC;
    display: inline-block;
    animation: style;
    font-size: 100px;
    font-family: star, fantasy;
}
.title-text{
    font-family: Tuan, fantasy;
    font-size: 50px;
}
.title-img img{
    animation-name: style3;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@media all and (min-width:1025px){
    .title-name{
        margin-top: 100px;
    }
    .title-img img{
        position: absolute;
        width: 300px;
        bottom: 0;
        left: 10%;
    }
}
@media all and (min-width:768px) and (max-width:1024px){
    .title-name{
        margin: 100px auto 0 auto;
        width: 500px;
    }
    .title-img img{
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: 0;
    }
}

@keyframes style {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0.5,0);
    }
    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0px, -60px, 0);
    }
}

.is-animate > div {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 5;
}

.is-animate > div:nth-child(1) { animation-delay: 0.0s }
.is-animate > div:nth-child(2) { animation-delay: 0.1s }
.is-animate > div:nth-child(3) { animation-delay: 0.2s }
.is-animate > div:nth-child(4) { animation-delay: 0.3s }
.is-animate > div:nth-child(5) { animation-delay: 0.4s }
.is-animate > div:nth-child(6) { animation-delay: 0.5s }
.is-animate > div:nth-child(7) { animation-delay: 0.6s }
.is-animate > div:nth-child(8) { animation-delay: 0.7s }
.is-animate > div:nth-child(9) { animation-delay: 0.8s }
.is-animate > div:nth-child(10) { animation-delay: 0.9s }
.is-animate > div:nth-child(11) { animation-delay: 1.0s }
.is-animate > div:nth-child(12) { animation-delay: 1.1s }

.new>div{
    color: #333333;
    display: inline-block;
    animation-name: style3;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes style3 {
    from{
        transform: scale3d(1,1,1);
    }
    10%,20%{
        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
    }
    30%,50%,70%,90%{
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
    }
    40%,60%,80%{
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
    }
    to{
        transform: scale3d(1,1,1);
    }
}